<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-log.txt">
    
    <extensions>
        <add assembly="NLog.Targets.ElasticSearch" />
    </extensions>
    <targets>
        <!-- Consola -->
        <target xsi:type="Console" name="logconsole" />

        <!-- Elasticsearch -->
        <target xsi:type="ElasticSearch" name="elasticsearch"
                uri="http://elasticsearch:9200"
                index="aspnet-logs-${shortdate}"
                includeAllProperties="true"
                pipeline="extract_log_values"
                documentType="">
            <field name="timestamp" layout="${longdate}" />
            <field name="method" layout="${mdlc:Method}" />
            <field name="path" layout="${mdlc:Path}" />
            <field name="statusCode" layout="${mdlc:StatusCode}" />
            <field name="elapsedMilliseconds" layout="${mdlc:ResponseTime}" />
            <!-- Opcional: Guarda el mensaje completo -->
            <field name="message" layout="${message}" />
        </target>
       
    </targets>

    <rules>
        <!-- Enviar logs a consola y Elasticsearch -->
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <!-- Solo enviar logs del middleware a Elasticsearch -->
        <logger name="LoggingMiddleware" minlevel="Info" writeTo="elasticsearch" />
        
        <!-- Ignorar otros logs -->
        <!-- <logger name="*" minlevel="Trace" writeTo="blackhole" final="true" /> -->
    </rules>
</nlog>