<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <Authorizing>
                <p>Autorizando.......</p>
                <FocusOnNavigate RouteData="routeData" Selector="h1"/>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound >
        <CascadingAuthenticationState>
            <LayoutView>
                <p>Pagina no encontrada</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
